<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta -->
        <meta content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Meta Description for SEO -->
        <meta
            name="description"
            content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt."
        />

        <!-- Website Title -->
        <title>Impressum</title>

        <!-- Favicon -->
        <link rel="icon" href="../assets/logos/logo_small.png" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Local CSS -->
        <link rel="stylesheet" href="../src/css/main.css" />
        <link rel="stylesheet" href="../src/css/header.css" />
        <link rel="stylesheet" href="../src/css/footer.css" />
        <link rel="stylesheet" href="../src/css/components.css" />
        <link rel="stylesheet" href="../src/css/start.css" />
        <link rel="stylesheet" href="../src/css/contact.css" />
        <link rel="stylesheet" href="../src/css/header_hamburger_menu.css" />
        <link
            rel="stylesheet"
            href="../src/css/media_queries/recipe_media_queries.css"
        />
        <link rel="stylesheet" href="../src/css/impressum.css" />

        <!-- Javascript -->
        <script src="../src/js/contact_formular.js" defer></script>
        <script src="../src/js/header_hamburger_menu.js" defer></script>
    </head>

    <body>
        <!-- Header -->
        <header>
            <div class="header__off__screen__menu">
                <ul>
                    <li><a class="header__link" href="../index.html">Start</a></li>
                    <li><a class="header__link" href="./recipe_recommended.html">Rezept des Tages</a></li>
                    <li><a class="header__link" href="../views/contact.html">Kontakt</a></li>
                    <li><a class="header__link" href="../views/impressum.html">Impressum</a></li>
                    <li><a class="header__link" href="../views/privacy_policy.html">Datenschutzerklärung</a></li>
                </ul>
            </div>
            <div class="header__container">
                <a class="header__logo_link" href="../index.html">
                    <img
                        class="header__logo"
                        src="../assets/logos/logo_1.png"
                        alt="Kochwelt Logo"
                /></a>
                <nav class="header__nav">
                    <a class="header__link" href="../index.html">Start</a>
                    <a
                        class="header__link"
                        href="../views/recipe_recommended.html"
                        >Rezept des Tages</a
                    >
                    <a class="header__link" href="../views/contact.html"
                        >Kontakt</a
                    >
                    <a class="header__link" href="../views/impressum.html"
                        >Impressum</a
                    >
                </nav>
                <div id="hamburger_menu" class="header__hamburger__menu">
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                </div>
            </div>
        </header>

        <!-- Main -->
        <main>

            <div class="impressum_main_container">

                <div class="impressum__container">
                    <h1>Impressum</h1>
                    <p>Angaben gemäß § 5 TMG</p>
                    <p>
                        <strong>Verantwortlicher:</strong> Gruppe 322<br />
                        <strong>Anschrift:</strong> Kleine Straße 15<br />
                        <strong>Kontakt:</strong> timokosfeld11@gmail.com
                    </p>
    
                    <h2 id="impressum__container-h2">Haftungsausschluss</h2>

                    <p>
                        Die Inhalte dieser Webseite wurden sorgfältig erstellt.
                        Dennoch kann keine Garantie für die Richtigkeit,
                        Vollständigkeit und Aktualität der Inhalte übernommen
                        werden.
                    </p>

                    <p>
                        Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene
                        Inhalte auf dieser Webseite nach den allgemeinen Gesetzen
                        verantwortlich.
                    </p>

                    <p>
                        Wir sind jedoch nicht verpflichtet, übermittelte oder
                        gespeicherte fremde Informationen zu überwachen oder nach
                        Umständen zu forschen, die auf eine rechtswidrige Tätigkeit
                        hinweisen.
                    </p>

                    <h2 id="impressum__container-h2">Urheberrecht</h2>

                    <p>
                        Die auf dieser Webseite veröffentlichten Inhalte,
                        insbesondere Texte, Bilder, Grafiken, Ton-, Video- und
                        Animationsdateien sind urheberrechtlich geschützt.
                    </p>

                    <p>
                        Jede Vervielfältigung, Verbreitung, Speicherung und jede Art
                        der Verwendung bedarf der vorherigen schriftlichen
                        Zustimmung des Rechteinhabers.
                    </p>
                </div>

            </div>

        </main>
        <!-- Footer -->
        <footer>
            <div class="footer__content">
                <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
                <div class="footer__social">
                    <a href="./privacy_policy.html"> <img src="../assets/icons/privacy_policy.webp" alt="Privacy Policy"></a>
                    <a href="https://www.instagram.com" target="_blank"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com" target="_blank"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
                </div>
            </div>
        </footer>
        </body>
</html>
