<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta -->
    <meta content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description for SEO -->
    <meta name="description" content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt.">

    <!-- Website Title -->
    <title>Mail sent</title>

    <!-- Favicon -->
    <link rel="icon" href="./assets/logos/logo_small.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="./src/css/main.css">
    <link rel="stylesheet" href="./src/css/header.css">
    <link rel="stylesheet" href="./src/css/footer.css">
    <link rel="stylesheet" href="./src/css/components.css">
    <link rel="stylesheet" href="./src/css/start.css">
    <link rel="stylesheet" href="./src/css/contact.css">

    <!-- Javascript -->
    <script src="./src/js/contact_formular.js" defer></script>
    <script src="./src/js/recipe_calculator.js" defer></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="header__container">
            <img class="header__logo" src="./assets/logos/logo_1.png" alt="Kochwelt Logo">
            <nav  class="header__nav">
                <a class="header__link" href="index.html">Start</a>
                <a class="header__link" href="./recipe_placeholder.html">Rezept des Tages</a>
                <a class="header__link" href="./views/contact.html">Kontakt</a>
                <a class="header__link" href="./views/impressum.html">Impressum</a>
                <a class="header__link" href="./views/privacy_policy.html">Datenschutzerklärung</a>
            </nav>
        </div>
    </header>

    <!-- Main -->
    <main>
        <p class="contact__mail-feedback">Your email has been sent successfully!</p>
    </main>
</body>

</html>