<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta -->
        <meta content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Meta Description for SEO -->
        <meta
            name="description"
            content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt."
        />

        <!-- Website Title -->
        <title>Datenschutzerklärung</title>

        <!-- Favicon -->
        <link rel="icon" href="../assets/logos/logo_small.png" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Local CSS -->
        <link rel="stylesheet" href="../src/css/main.css" />
        <link rel="stylesheet" href="../src/css/header.css" />
        <link rel="stylesheet" href="../src/css/footer.css" />
        <link rel="stylesheet" href="../src/css/components.css" />
        <link rel="stylesheet" href="../src/css/start.css" />
        <link rel="stylesheet" href="../src/css/privacy_policy.css" />
        <link rel="stylesheet" href="../src/css/header_hamburger_menu.css">
        <link
            rel="stylesheet"
            href="../src/css/media_queries/start_media_queries.css"
        />

        <!-- Javascript -->
        <script src="../src/js/contact_formular.js" defer></script>
        <script src="../src/js/header_hamburger_menu.js" defer></script>
    </head>

    <body>
        <!-- Header -->
        <header>
        <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
        <div class="header__off__screen__menu">
            <ul>
                <li><a class="header__hamburger__link" href="../index.html">Start</a></li>
                <li><a class="header__hamburger__link" href="./recipe_recommended.html">Rezept des Tages</a></li>
                <li><a class="header__hamburger__link" href="../views/contact.html">Kontakt</a></li>
                <li><a class="header__hamburger__link" href="../views/impressum.html">Impressum</a></li>
                <li><a class="header__hamburger__link" href="../views/privacy_policy.html">Datenschutzerklärung</a></li>
            </ul>
        </div>
            <div class="header__container">
                <a class="header__logo_link" href="../index.html">
                    <img
                        class="header__logo"
                        src="../assets/logos/logo_1.png"
                        alt="Kochwelt Logo"
                /></a>
                <nav class="header__nav">
                    <a class="header__link" href="../index.html">Start</a>
                    <a
                        class="header__link"
                        href="../views/recipe_recommended.html"
                        >Rezept des Tages</a
                    >
                    <a class="header__link" href="../views/contact.html"
                        >Kontakt</a
                    >
                    <a class="header__link" href="../views/impressum.html"
                        >Impressum</a
                    >
                </nav>
                <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
                <div id="hamburger_menu" class="header__hamburger__menu">
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                </div>
            </div>
        </header>
        
        <!-- privacy policy-->
         <main>

            <div class="main__container">

                <div class="main__content">
                    <h2 id="main__content-h2"><b>Datenschutzerklärung</b></h2>
                    <p>
                        Wir bei Kochwelt (nachfolgend "wir" oder "uns") sind bestrebt,
                        die Privatsphäre unserer Nutzer zu schützen. Diese
                        Datenschutzerklärung erklärt, wie wir personenbezogene Daten
                        sammeln, verwenden und schützen, wenn du unsere Website
                        besuchst.
                    </p>
        
                    <h2 id="main__content-h2">1. Einleitung</h2>
                    <p>
                        Wir sammeln personenbezogene Daten, wenn du uns über unser
                        Kontaktformular kontaktierst, unseren Rezeptrechner verwendest
                        oder mit unserer Website durch Cookies interagierst (siehe
                        unsere Cookie-Richtlinie).
                    </p>
        
                    <h2 id="main__content-h2">2. Sammlung von personenbezogenen Daten</h2>
                    <p>Die personenbezogenen Daten, die wir sammeln, umfassen:</p>
                    <ul>
                        <li>Name</li>
                        <li>E-Mail-Adresse</li>
                        <li>IP-Adresse</li>
                        <li>Browser-Typ und -Version</li>
                        <li>Betriebssystem</li>
                        <li>Referrer-URL</li>
                    </ul>
        
                    <h2 id="main__content-h2">3. Verwendung von personenbezogenen Daten</h2>
                    <p>Wir verwenden personenbezogene Daten, um:</p>
                    <ul>
                        <li>
                            Deine Anfragen zu beantworten und Kundenunterstützung zu
                            leisten
                        </li>
                        <li>Unsere Website und Dienstleistungen zu verbessern</li>
                        <li>
                            Die Nutzung unserer Website zu analysieren und unsere
                            Inhalte zu optimieren
                        </li>
                        <li>
                            Betrug zu verhindern und die Sicherheit unserer Website zu
                            gewährleisten
                        </li>
                    </ul>
        
                    <h2 id="main__content-h2">4. Schutz von personenbezogenen Daten</h2>
                    <p>
                        Wir ergreifen geeignete technische und organisatorische
                        Maßnahmen, um personenbezogene Daten vor unbefugtem Zugriff,
                        Offenlegung, Änderung oder Zerstörung zu schützen. Unsere
                        Website verwendet SSL-Verschlüsselung, um eine sichere
                        Datenübertragung zu gewährleisten.
                    </p>
        
                    <h2 id="main__content-h2">5. Speicherung von personenbezogenen Daten</h2>
                    <p>
                        Wir speichern personenbezogene Daten so lange, wie es notwendig
                        ist, um die Zwecke zu erfüllen, die in dieser
                        Datenschutzerklärung genannt sind. Wir können auch
                        personenbezogene Daten länger speichern, wenn dies gesetzlich
                        vorgeschrieben ist oder um gesetzliche Verpflichtungen zu
                        erfüllen.
                    </p>
        
                    <h2 id="main__content-h2">6. Rechte der betroffenen Personen</h2>
                    <p>Du hast das Recht,:</p>
                    <ul>
                        <li>Zugang zu deinen personenbezogenen Daten zu erhalten</li>
                        <li>
                            Deine personenbezogenen Daten zu korrigieren oder zu löschen
                        </li>
                        <li>
                            Der Verarbeitung deiner personenbezogenen Daten zu
                            widersprechen
                        </li>
                        <li>Deine personenbezogenen Daten zu übertragen</li>
                    </ul>
        
                    <h2 id="main__content-h2">7. Änderungen an dieser Datenschutzerklärung</h2>
                    <p>
                        Wir behalten uns das Recht vor, diese Datenschutzerklärung
                        jederzeit zu ändern. Wir werden dich über alle Änderungen
                        informieren, indem wir eine aktualisierte Version auf unserer
                        Website veröffentlichen.
                    </p>
        
                    <h2 id="main__content-h2">8. Kontakt</h2>
                    <p>
                        Wenn du Fragen oder Bedenken zu dieser Datenschutzerklärung
                        hast, kontaktiere uns bitte unter
                        <a href="mailto:info@kochwelt.de">info@kochwelt.de</a>.
                    </p>
                </div>
            </div>

         </main>


        <!-- Footer -->
        <footer>
            <div class="footer__content">
                <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
                <div class="footer__social">
                    <a href="./privacy_policy.html"> <img src="../assets/icons/privacy_policy.webp" alt="Privacy Policy"></a>
                    <a href="https://www.instagram.com" target="_blank"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com" target="_blank"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
                </div>
            </div>
        </footer>
        </body>
</html>
