<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Website Title -->
    <title>Taco Nudels</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/logos/logo_small.png">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="../src/css/components.css">
    <link rel="stylesheet" href="../src/css/start.css">
    <link rel="stylesheet" href="../src/css/recipe_stefan.css">
    <link rel="stylesheet" href="../src/css/media_queries/recipe_media_queries_stefan.css">
    <link rel="stylesheet" href="../src/css/header_hamburger_menu.css">


    <!-- Javascript -->
    <script src="../src/js/recipe_calculator_stefan.js" defer></script>
    <script src="../src/js/header_hamburger_menu.js" defer></script>
</head>

<body>
    <!-- Header -->
    <header>
        <div class="header__off__screen__menu">
            <ul>
                <li><a class="header__hamburger__link" href="../index.html">Start</a></li>
                <li><a class="header__hamburger__link" href="../views/recipe_recommended.html">Rezept des Tages</a></li>
                <li><a class="header__hamburger__link" href="../views/contact.html">Kontakt</a></li>
                <li><a class="header__hamburger__link" href="../views/impressum.html">Impressum</a></li>
                <li><a class="header__hamburger__link" href="../views/privacy_policy.html">Datenschutzerklärung</a></li>
            </ul>
        </div>
        <div class="header__container">
            <a class="header__logo__start__link" href="../index.html">
                <img class="header__logo" src="../assets/logos/logo_1.png" alt="Kochwelt Logo">
            </a>
            <nav  class="header__nav">
                <a class="header__link" href="../index.html">Start</a>
                <a class="header__link" href="./recipe_recommended.html">Rezept des Tages</a>
                <a class="header__link" href="../views/contact.html">Kontakt</a>
                <a class="header__link" href="../views/impressum.html">Impressum</a>
            </nav>
            <div id="hamburger_menu" class="header__hamburger__menu">
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
            </div>
        </div>
    </header>

    <main>
        <!-- Recipe -->
        <section class="recipe__main__container">
            <div class="recipe__content">
                <h2>Taco Noodles</h2>
                <img class="recipe__img" src="/assets/img/stefan/taco-nudles.png">
                <div class="recipe__container">
                    <p>
                        <img src="/assets/icons/clock_regular.svg" alt="clock icon" class="recipe__material-icons">
                        25 Min
                    </p>
                    <p>
                        <img  src="/assets/icons/brain_solid.svg" alt="brain icon" class="recipe__material-icons">
                        simple
                    </p>
                    <p>
                        <img src="/assets/icons/calendar_alt_regular.svg" alt="calender icon" class="recipe__material-icons">
                        24.08.2024
                    </p>
                </div>
                <div>
                    <span class="recipe__divider"></span>
                </div>
            </div>
        </section>

        <section class="recipe__main__container">
            <div class="recipe__content">
                <!-- Ingredients -->
                <label for="portionInput">Zutaten für
                    <input id="portionInput" type="number" name="number" min="1" max="20" value="1" class="ingredients__portions">
                    <button id="portionButton">Portionen</button>
                </label>
                <table>
                    <tr>
                        <td class="tablePortion">125</td>
                        <td>g</td>
                        <td>Pasta</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">75</td>
                        <td>g</td>
                        <td>Mais</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">100</td>
                        <td>g</td>
                        <td>Kidneybohnen</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">100</td>
                        <td>g</td>
                        <td>Karotten</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">100</td>
                        <td>g</td>
                        <td>Zucchini</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">100</td>
                        <td>g</td>
                        <td>Sojahack</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">200</td>
                        <td>g</td>
                        <td>stückige Tomaten</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.5</td>
                        <td>Stück</td>
                        <td>Paprika</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">125</td>
                        <td>ml</td>
                        <td>passierte Tomaten</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">75</td>
                        <td>ml</td>
                        <td>Sojamilch</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.5</td>
                        <td>TL</td>
                        <td>Salz</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.5</td>
                        <td>TL</td>
                        <td>Pfeffer</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.25</td>
                        <td>TL</td>
                        <td>geräuchertes Paprikapulver</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.5</td>
                        <td>TL</td>
                        <td>gemahlener Kreuzkümmel</td>
                    </tr>
                    <tr>
                        <td class="tablePortion">0.5</td>
                        <td>TL</td>
                        <td>edelsüßes Paprikapulver</td>
                    </tr>
                </table>
            </div>
        </section>

        <section class="recipe__main__container">
            <div class="recipe__content">
                <h2>Zubereitung</h2>
                <div class="recipe__container">
                    <p>
                        <img src="/assets/icons/clock_regular.svg" alt="clock icon" class="recipe__material-icons">
                        ca. 25 Minuten
                    </p>
                    <p>
                        <img src="/assets/icons/clock_regular.svg" alt="clock icon" class="recipe__material-icons">
                        Gesamtzeit ca. 25 Minuten
                    </p>
                </div>

                    <ol class="recipe__steps">
                        <li>Alle Zutaten in einen großen Topf geben und alles 20 Minuten ohne Deckel bei mittlerer Hitze köcheln lassen (Auch die Nudeln kommen ungekocht mit den anderen Zutaten in den Topf).</li>
                        <li>Je nach Belieben noch mehr würzen.</li>
                        <li>Falls die Sauce zu dick wird, einfach mehr Flüssigkeit dazugeben.</li>
                        <li>Es können auch andere Gemüsesorten verwendet werden.</li>
                    </ol>
                <h4>Rezept erstellt von</h4>
                <div class="recipe__creator">
                    <img class="recipe__creator__picture">
                    <span>Stefan Redl</span>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer__content">
            <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
            <div class="footer__social">
                <a href="./privacy_policy.html"> <img src="../assets/icons/privacy_policy.webp" alt="Privacy Policy"></a>
                <a href="https://www.instagram.com" target="_blank"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                <a href="https://www.facebook.com" target="_blank"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
            </div>
        </div>
    </footer>

</body>
</html>