<!DOCTYPE html>
<html lang="de">
    <head>
        <!-- Meta -->
        <meta content="text/html" charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Meta Description for SEO -->
        <meta
            name="description"
            content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt."
        />

        <!-- Website Title -->
        <title>Hackfleisch Lasagne</title>

        <!-- Favicon -->
        <link rel="icon" href="../assets/logos/logo_small.png" />

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
            rel="stylesheet"
        />

        <!-- Local CSS -->
        <link rel="stylesheet" href="../src/css/main.css" />
        <link rel="stylesheet" href="../src/css/header.css" />
        <link rel="stylesheet" href="../src/css/footer.css" />
        <link rel="stylesheet" href="../src/css/components.css" />
        <link rel="stylesheet" href="../src/css/start.css" />
        <link rel="stylesheet" href="../src/css/recipe_timo.css" />
        <link rel="stylesheet" href="../src/css/header_hamburger_menu.css" />

        <link
            rel="stylesheet"
            href="../src/css/media_queries/recipe_media_queries.css"
        />
        <link
            rel="stylesheet"
            href="../src/css/recipe_timo_media_querries.css"
        />

        <!-- Javascript -->
        <script src="../src/js/contact_formular.js" defer></script>
        <script
            src="../src/js/recipe_timo_portion_calculator.js"
            defer
        ></script>
        <script src="../src/js/header_hamburger_menu.js" defer></script>
    </head>

    <body>
        <!-- Header -->
        <header>
            <div class="header__off__screen__menu">
                <ul>
                    <li>
                        <a class="header__hamburger__link" href="../index.html">Start</a>
                    </li>
                    <li>
                        <a class="header__hamburger__link" href="./recipe_recommended.html"
                            >Rezept des Tages</a
                        >
                    </li>
                    <li>
                        <a class="header__hamburger__link" href="../views/contact.html"
                            >Kontakt</a
                        >
                    </li>
                    <li>
                        <a class="header__hamburger__link" href="../views/impressum.html"
                            >Impressum</a
                        >
                    </li>
                    <li>
                        <a
                            class="header__hamburger__link"
                            href="../views/privacy_policy.html"
                            >Datenschutzerklärung</a
                        >
                    </li>
                </ul>
            </div>
            <div class="header__container">
                <a class="headerlogo-link" href="../index.html">
                    <img
                        class="headerlogo header__logo"
                        src="../assets/logos/logo_1.png"
                        alt="Kochwelt Logo"
                    />
                </a>
                <nav class="header__nav">
                    <a class="header__link" href="../index.html">Start</a>
                    <a
                        class="header__link"
                        href="../views/recipe_recommended.html"
                        >Rezept des Tages</a
                    >
                    <a class="header__link" href="../views/contact.html"
                        >Kontakt</a
                    >
                    <a class="header__link" href="../views/impressum.html"
                        >Impressum</a
                    >
                </nav>
                <div id="hamburger_menu" class="header__hamburger__menu">
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                    <span class="header__hamburger__bar"></span>
                </div>
            </div>
        </header>
        <!-- Recipe Timo-->
        <div class="recipe_timo_main_container">
            <div class="recipe_timo_head">
                <h2>Béchamel-Hackfleisch-Lasagne</h2>
                <img
                    class="recipe_timo_section_head_img"
                    src="../assets/img/timo/lasagne.webp"
                    alt="img_lasagne"
                />
                <div class="recipe_timo_recipe_characteristics">
                    <span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/clock_regular.svg"
                            alt="clock for coking"
                        />
                        25 Min.</span
                    >
                    <span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/brain_solid.svg"
                            alt="level of difficulty"
                        />
                        normal</span
                    >
                    <span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/calendar_alt_regular.svg"
                            alt="calendar"
                        />
                        22.08.2024</span
                    >
                </div>
            </div>
            <div class="recipe_timo_brake_line"></div>
            <div class="recipe_timo_portions_calculator">
                <span>Zutaten für</span>
                <input
                    class="portions_calculator_input_field"
                    id="input_field"
                    type="number"
                    min="1"
                    max="20"
                    value="1"
                    step="1"
                />

                <button
                    onclick="calculatPortions()"
                    id="multiply_button"
                    class="button_portions_calculator"
                >
                    Portionen
                </button>
            </div>
            <div class="error_text_portions">
                <span id="error_message"></span>
            </div>

            <div class="recipe_timo_ingredient_list"></div>
            <table id="table" class="table_ingredient"></table>
            <div class="recipe_timo_preperation_main_container">
                <h2>Zubereitung</h2>
                <div class="recipe_timo_preparation_time">
                    <span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/clock_regular.svg"
                            alt="work time"
                        />Arbeitszeit ca. 25 Minuten</span
                    ><span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/clock_regular.svg"
                            alt="work time"
                        />Koch-/Backzeit ca. 1 Stunde 10 Minuten</span
                    >
                    <span
                        ><img
                            class="recipe_timo_recipe_characteristics_img"
                            src="../assets/icons/clock_regular.svg"
                            alt="work time"
                        />Gesamtzeit ca. 1 Stunde 35 Minuten</span
                    >
                </div>
            </div>
            <div class="recipe_timo_preparation_explanation">
                <span
                    ><a class="preparation_highlighter">Hackfleischsoße:</a>
                    Hackfleisch mit 2 El Öl anbraten, 2 Zwiebeln schälen, in
                    Würfel schneiden und dazugeben. 1 EL Tomatenmark unterrühren
                    und mit 500 ml pürierten Tomaten und ein wenig Wasser
                    ablöschen. Eine Knoblauchzehe klein schneiden und dazugeben.
                    Danach würzen mit Salz, Pfeffer, Paprika und Oregano und 10
                    Minuten kochen lassen.
                    <br />
                    <br /><a class="preparation_highlighter">Béchamelsoße:</a>
                    80 g Butter im Topf erhitzen, 80 g Mehl dazugeben und
                    anschwitzen lassen. 1/2 Liter Gemüsebrühe langsam hinzugeben
                    und immer gut umrühren. Dann die Milch hinzugeben und
                    aufkochen lassen, eine Hand voll von dem Käse in die
                    Béchamelsoße geben und gut umrühren. Mit Salz, Pfeffer und
                    Muskat würzen.
                    <br />
                    <br />Erst ein wenig von der Hackfleischsoße in eine
                    feuerfeste Form geben, darauf Lasagneblätter, dann wieder
                    Hackfleischsoße, dann die Béchamelsoße auf die
                    Hackfleischsoße geben, darauf wieder Lasagneblätter und das
                    so weiter machen. Als letztes muss die Béchamelsoße darauf
                    sein. Zum Schluss den restlichen Pizzakäse darauf streuen.
                    30 – 40 Minuten bei 180° Umluft backen.</span
                >
            </div>
            <div class="creator">
                <h3>Rezept erstellt von</h3>
                <div class="creator_img">
                    <img
                        src="../assets/img/timo/timoSelfie.JPEG"
                        alt="selfie_timo"
                    /><span>Timo</span>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer>
            <div class="footer__content">
                <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
                <div class="footer__social">
                    <a href="./privacy_policy.html"> <img src="../assets/icons/privacy_policy.webp" alt="Privacy Policy"></a>
                    <a href="https://www.instagram.com" target="_blank"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                    <a href="https://www.facebook.com" target="_blank"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
                </div>
            </div>
        </footer>
        </body>
</html>
