<!DOCTYPE html>
<html lang="de">

<head>
    <!-- Meta -->
    <meta content="text/html" charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Meta Description for SEO -->
    <meta name="description" content="Bei uns finden Sie köstliche Kochrezepte aus aller Welt.">

    <!-- Website Title -->
    <title>Türkische Sarma</title>

    <!-- Favicon -->
    <link rel="icon" href="../assets/logos/logo_small.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="../src/css/main.css">
    <link rel="stylesheet" href="../src/css/header.css">
    <link rel="stylesheet" href="../src/css/footer.css">
    <link rel="stylesheet" href="../src/css/components.css">
    <link rel="stylesheet" href="../src/css/start.css">
    <link rel="stylesheet" href="../src/css/recipe_lee.css">
    <link rel="stylesheet" href="../src/css/media_queries/recipe_media_queries.css">
    <link rel="stylesheet" href="../src/css/header_hamburger_menu.css">

    <!-- Javascript -->
    <script src="../src/js/recipe_calculator_lee.js" defer></script>
    <script src="../src/js/header_hamburger_menu.js" defer></script>

</head>

<body>
    <!-- Header -->
    <header>
        <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
        <div class="header__off__screen__menu">
            <ul>
                <li><a class="header__hamburger__link" href="../index.html">Start</a></li>
                <li><a class="header__hamburger__link" href="./recipe_recommended.html">Rezept des Tages</a></li>
                <li><a class="header__hamburger__link" href="../views/contact.html">Kontakt</a></li>
                <li><a class="header__hamburger__link" href="../views/impressum.html">Impressum</a></li>
                <li><a class="header__hamburger__link" href="../views/privacy_policy.html">Datenschutzerklärung</a></li>
            </ul>
        </div>
        <div class="header__container">
            <a class="header__logo-link" href="../index.html"><img class="header__logo" src="../assets/logos/logo_1.png" alt="Kochwelt Logo"></a>
            <nav  class="header__nav">
                <a class="header__link" href="../index.html">Start</a>
                <a class="header__link" href="../views/recipe_recommended.html">Rezept des Tages</a>
                <a class="header__link" href="../views/contact.html">Kontakt</a>
                <a class="header__link" href="../views/impressum.html">Impressum</a>
            </nav>
            <!-- Stefan hinzugefügt am 01.09.2024 um 17:00 */ -->
            <div id="hamburger_menu" class="header__hamburger__menu">
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
                <span class="header__hamburger__bar"></span>
            </div>
        </div>
    </header>

    <!-- Main -->
    <main>

        <!-- Recipe overview -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h2>Türkische Sarma</h2>
                <img class="recipe__img" src="../assets/img/lee/turkish_sarma.webp" alt="Bild vom türkischen Sarmas">

                <!-- Recipe description tags -->
                <div class="recipe__overview-tags">

                    <!-- Recipe time tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/clock_regular.svg" alt="">
                        <p>120 Min.</p>
                    </div>

                    <!-- Recipe difficulty tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/brain_solid.svg" alt="">
                        <p>Schwierig</p>
                    </div>

                    <!-- Recipe date of creation tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/calendar_alt_regular.svg" alt="">
                        <p>26.08.2024</p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Recipe ingredients -->
        <section class="recipe__container">
            <div class="recipe__content">
                <div class="recipe__breakline"></div>

                    <!-- Ingredients calculator -->
                    <div class="recipe__calculator">
                        <span>Zutaten für</span>
                        <input class="recipe__input" id="recipe__input" type="number" min="1" max="20" value="1" required/>
                        <button id="recipe__button" class="recipe__button">Portionen</button>
                    </div>
        
                    <!-- Ingredients table -->
                    <table class="recipe__table">
                        <tbody class="recipe__table-body">
                            <tr>
                                <td class="recipe__table-data--value">60</td>
                                <td class="recipe__table-data--unit">g</td>
                                <td class="recipe__table-data--ingredient">Reis</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">50</td>
                                <td class="recipe__table-data--unit">g</td>
                                <td class="recipe__table-data--ingredient">Weinblätter</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">50</td>
                                <td class="recipe__table-data--unit">g</td>
                                <td class="recipe__table-data--ingredient">Zwiebeln</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">Stk.</td>
                                <td class="recipe__table-data--ingredient">Knoblauchzehe</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">EL</td>
                                <td class="recipe__table-data--ingredient">Olivenöl</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Pinienkerne</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Rosinen (opt.)</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Tomatenmark</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Granatapfelsirup</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Zucker</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Salz</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Pfeffer</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Paprikapulver</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Minze (getr.)</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Dill</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">0.5</td>
                                <td class="recipe__table-data--unit">TL</td>
                                <td class="recipe__table-data--ingredient">Petersilie (gh.)</td>
                            </tr>
                            <tr>
                                <td class="recipe__table-data--value">1</td>
                                <td class="recipe__table-data--unit">EL</td>
                                <td class="recipe__table-data--ingredient">Zitronensaft</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        <!-- Recipe preparation -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h2 id="recipe__h2">Zubereitung</h2>
                
                <!-- Recipe description tags -->
                <div class="recipe__overview-tags">

                    <!-- Recipe time tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/clock_regular.svg" alt="">
                        <p>120 Min.</p>
                    </div>

                    <!-- Recipe date of creation tag -->
                    <div class="recipe__overview-tag">
                        <img src="../assets/icons/calendar_alt_regular.svg" alt="">
                        <p>26.08.2024</p>
                    </div>
                </div>


                <!-- Recipe step 1 -->
                <h3 id="recipe__h3">1. Vorbereitung der Füllung:</h3>
                <ul>
                    <li>Reis unter kaltem Wasser abspülen, bis das Wasser klar ist. Gut abtropfen lassen.</li><br>
                    <li>In einer Pfanne 1 EL Olivenöl erhitzen und die Zwiebeln darin glasig dünsten.</li><br>
                    <li>Knoblauch, Pinienkerne und Rosinen (falls verwendet) hinzufügen und kurz mit anrösten.</li><br>
                    <li>Den Reis hinzufügen und für etwa 2-3 Minuten mitbraten.</li><br>
                    <li>Tomatenmark, Granatapfelsirup oder Zitronensaft, Zucker, Salz, Pfeffer, Paprikapulver, getrocknete Minze, Dill und Petersilie hinzufügen und gut vermischen.</li><br>
                    <li>50 ml Wasser hinzugeben und bei mittlerer Hitze kochen lassen, bis das Wasser absorbiert ist. Die Füllung sollte noch etwas bissfest sein, da sie in den Weinblättern weiter gart.</li><br>
                </ul>

                <!-- Recipe step 2 -->
                <h3 id="recipe__h3">2. Vorbereitung der Weinblätter:</h3>
                <ul>
                    <li>Die eingelegten Weinblätter vorsichtig aus der Packung nehmen und in kaltem Wasser abspülen, um das überschüssige Salz zu entfernen.</li><br>
                    <li>Blätter kurz in kochendes Wasser tauchen, um sie geschmeidig zu machen, dann abtropfen lassen.</li><br>
                </ul>

                <!-- Recipe step 3 -->
                <h3 id="recipe__h3">3. Füllen und Rollen:</h3>
                <ul>
                    <li>Ein Weinblatt mit der glatten Seite nach unten auf eine Arbeitsfläche legen.</li><br>
                    <li>Etwa 1 TL der Reisfüllung in die Mitte des Blattes geben.</li><br>
                    <li>Zuerst die Seiten des Blattes zur Mitte hin falten, dann das Blatt von unten nach oben fest aufrollen. Es sollte ein kleines, enges Päckchen entstehen.</li><br>
                </ul>

                <!-- Recipe step 4 -->
                <h3 id="recipe__h3">4. Kochen:</h3>
                <ul>
                    <li>Die gefüllten Weinblätter eng nebeneinander in einen Topf legen. Dabei mit der Nahtstelle nach unten legen, damit sie sich nicht öffnen.</li><br>
                    <li>1 EL Zitronensaft über die gefüllten Blätter träufeln und den restlichen 1 EL Olivenöl darüber geben.</li><br>
                    <li>Genügend Wasser hinzufügen, bis die Sarma gerade bedeckt sind.</li><br>
                    <li>Einen Teller oder eine Untertasse als Gewicht auf die Sarma legen, damit sie beim Kochen nicht aufgehen.</li><br>
                    <li>Den Topf abdecken und die Sarma bei schwacher Hitze etwa 40-50 Minuten köcheln lassen, bis der Reis vollständig gar ist.</li><br>
                </ul>

                <!-- Recipe step 5 -->
                <h3 id="recipe__h3">5. Servieren:</h3>
                <ul>
                    <li>Die Sarma abkühlen lassen und bei Zimmertemperatur oder leicht gekühlt servieren.</li><br>
                    <li>Sie können mit Zitronenscheiben garniert und mit Joghurt als Beilage serviert werden.</li><br>
                </ul>
            </div>
        </section>

        <!-- Recipe creator -->
        <section class="recipe__container">
            <div class="recipe__content">
                <h4 id="recipe__h4">Rezept erstellt von</h4>
                <div class="recipe__creator">
                    <img src="../assets/img/lee/lee.jpeg" alt="Profilbild von Lee-Roy Romann">
                    <p>Lee-Roy</p>
                </div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <div class="footer__content">
            <img class="footer__logo" src="../assets/logos/logo_small.png" alt="#">
            <div class="footer__social">
                <a href="./privacy_policy.html"> <img src="../assets/icons/privacy_policy.webp" alt="Privacy Policy"></a>
                <a href="https://www.instagram.com" target="_blank"> <img src="../assets/socialmedia/instagram_logo.png" alt="Instagram"></a>
                <a href="https://www.facebook.com" target="_blank"> <img src="../assets/socialmedia/facebook_logo.png" alt="Facebook"></a>
            </div>
        </div>
    </footer>
</body>

</html>