/* main.css */

:root{
    --kochwelt-green: rgba(0, 128, 0, 1.0);
    --kochwelt-darkgray: rgba(64, 59, 59, 1.0);
    --kochwelt-lightgray: rgba(239, 239, 239, 1.0);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 136px 0px 0px; /* 104px Header + 32px damit oben gleicher Abstand */
    margin: 0px;
    font-family: "Raleway";
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 18px;
}

h2 {
    font-size: 22px;
    font-weight: 550;
    margin: 0;
    padding: 0px 0px 32px 0px;
}

h3 {
    font-size: 20px;
    font-weight: 550;
    margin: 0;
    padding: 0px 0px 32px 0px;}

h4 {
    font-size: 18px;
    font-weight: 550;
    margin: 0;
    padding: 0px 0px 32px 0px;
}

header,
.section__recommended,
.section__explore,
.section__knowledge {
    padding: 32px 160px 64px 160px;
}