.header__logo-link {
    text-decoration: none; /* Entfernt die Unterstreichung */
    border: none; /* Entfernt eventuelle Rahmen */
    padding: 0; /* Setzt eventuelle Innenabstände zurück */
    margin: 0; /* Setzt eventuelle Außenabstände zurück */
    background: none; /* ... */
    line-height: 0; /* Setzt die Höhe der Textzeile */
    display: inline-block; /*Verhindert zusätzliche Abstände */
    vertical-align: middle; /* Korrigiert mögliche vertikale Abstände */
}
.headerlogo {
    height: 80px;
}
.headerlogo-link{
    display: flex;
    align-items:center ;
}

.recipe_timo_main_container {
    max-width: 1440px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    padding: 0px 160px 0px 160px;
}
.recipe_timo_head {
    display: flex;
    flex-direction: column;
}
.recipe_timo_head h2 {
    font-size: 22px;
    font-weight: 550;
    margin: 0;
    padding: 0px 0px 32px 0px;
}

.recipe_timo_section_head_img {
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.recipe_timo_recipe_characteristics {
    display: flex;
    gap: 10px;
    padding-top: 25px;
}
.recipe_timo_recipe_characteristics span {
    background-color: rgba(239, 239, 239, 1);
    border-radius: 50px;
    padding: 5px 8px 5px 8px;
}
.recipe_timo_recipe_characteristics_img {
    width: 16px;
    height: 16px;
    filter: none;
    display: inline;
}
.recipe_timo_brake_line {
    height: 1px;
    width: 100%;
    background-color: rgba(239, 239, 239, 1);
    margin-top: 32px;
}
.recipe_timo_portions_calculator {
    display: flex;

    align-items: center;
    margin-bottom: 8px;
    margin-top: 32px;
}

.recipe_timo_portions_calculator span {
    padding-right: 32px;
    font-size: 18px;
}

.portions_calculator_input_field {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0px 10px 0px 10px;
    border: 2px solid var(--kochwelt-lightgray);
    width: 90px;
    height: 37px;
    font-size: 18px;
    text-align: center;
}
.button_portions_calculator {
    height: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.error_text_portions {
    max-width: 1440px;
    height: 19px;
    margin-bottom: 16px;
}
.table_ingredient {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 32px;
}

td {
    padding-left: 16px;
    height: 40px;
}

td:nth-child(1) {
    width: 32px;
    border-radius: 8px 0 0 8px;
}
td:nth-child(2) {
    width: 32px;
}
td:nth-child(3) {
    border-radius: 0 8px 8px 0;
}

.unit {
    width: 32px;
}
.recipe_timo_preperation_main_container {
    text-align: center;
}
.recipe_timo_preperation_main_container h2 {
    margin: 0;
    text-align: start;
    font-size: 25px;
    font-weight: 600;
}
.recipe_timo_preparation_time {
    display: flex;
    gap: 10px;
    padding-top: 25px;
}
.recipe_timo_preparation_time span {
    background-color: rgba(239, 239, 239, 1);
    border-radius: 50px;
    padding: 5px;
}
.recipe_timo_preparation_explanation {
    margin-top: 32px;
    text-align: center;
}
.preparation_highlighter {
    font-weight: bold;
    text-decoration: underline;
}

.creator {
    margin-top: 32px;
    padding-bottom: 32px;
}
.creator span {
    font-size: 18px;
}
.creator_img {
    display: flex;
    align-items: center;
}

.creator_img img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}
