/* start.css */

section_2 {
    background-color: var(--kochwelt-lightgray);
}

.section__recommended {
    display: flex;
    gap: 32px;
}

.section__recommended-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section__recommended-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.section__explore {
    display: flex;
    flex-direction: column;
}

.section__explore-content {
    display: flex;
    justify-content: space-between;
}

.section__explore-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section__explore h2 {
    text-align: center;
}

.section__knowledge {
    display: flex;
    flex-direction: column;
}

.section__knowledge h2 {
    text-align: center;
}

.section__knowledge-content {
    display: flex;
    gap: 64px;
}

.section__recommended,
.section__explore,
.section__knowledge {
    max-width: 1440px;
    margin: 0 auto;
}
