/* mediaqueries.css */

@media screen and (max-width: 1000px) {

    header {
        padding: 32px 40px 32px 40px;
    }

    .recipe__content,
    .footer__content {
        padding: 0px 40px 0px 40px;
    }
}

/* Stefan hinzugefügt am 01.09.2024 um 17:00 */
@media screen and (min-width: 761px) {
    .header__nav {
        display: flex;
    }

    .header__hamburger__menu {
        display: none;
    }
}

@media screen and (max-width: 760px) {

    .header__nav {
        display: none;
        gap: 0;
    }

    /* Stefan hinzugefügt am 01.09.2024 um 17:00 */
    .header__hamburger__menu {
        display: block;
    }
    .header__container {
        align-items: center;
    }
}

@media screen and (max-width: 471px) {

    /* Stefan hinzugefügt am 01.09.2024 um 17:00 */
    header {
        padding: 0px 16px 0px 16px;
    }
    
    .recipe__content,
    .footer__content {
        padding: 0px 16px 0px 16px;
    }

    .recipe__img {
        height: 200px;
        object-fit: cover;
        border-radius: 8px;
    }

    .recipe__input {
        width: 64px;
    }

    .recipe__button {
        padding-left: 24px;
        padding-right: 24px;
    }

    .recipe__content ul {
        padding-left: 20px;
    }
}

@media screen and (max-width: 400px) {

    .header__container {
        justify-content: center;
    }

    .recipe__overview-tags {
        flex-direction: column;
    }

    .recipe__overview-tag {
        justify-content: center;
    }
    /* Stefan hinzugefügt am 01.09.2024 um 17:00 */
    .header__logo {
        height: 60px;
        width: auto;
    }
}

@media screen and (max-width: 364px) {

    .recipe__calculator span {
        padding-right: 16px;
    }

    .recipe__input {
        width: 36px;
    }

    .recipe__button {
        padding: 8px 18px 8px 18px;
    }
}