@media screen and (max-width: 1200px) {
    header {
        padding: 32px 40px 32px 40px;
    }

    .footer__content,
    .recipe__content {
        padding: 0px 40px 0px 40px;
    }
}


@media screen and (max-width:1000px) {
    header {
        padding: 16px 20px 16px 20px;
    }
    
    .footer__content,
    .recipe__content {
        padding: 0px 20px 0px 20px;
    } 
}

@media screen and (min-width: 721px) {
        .header__nav {
            display: flex;
        }
    
        .header__hamburger__menu {
            display: none;
        }
}

@media screen and (max-width: 720px) {

    .header__nav {
        display: none;
        gap: 0px;
    }

    .header__hamburger__menu {
        display: block;
    }
    .header__container {
        align-items: center;
    }
}

@media screen and (max-width: 475px) {

    .recipe__container {
        flex-direction: column;
        text-align: center;
        gap: 0px;
        margin-top: 10px;
    }

    .recipe__divider {
        margin-top: 30px;
    }

    p {
        margin-block-start: 20px;
        margin-block-end: 0px;
    }

    .ingredients__portions {
        width: 40px;
    }

    button {
        padding: 10px 15px 10px 15px;
    }

    .recipe__content {
        padding: 0px 20px 0px 20px;
    }

    ol {
        padding-inline-start: 20px;
    }

    .contact__from__section {
        max-width: 300px;
        padding: 10px;
    }

    .contact__form__section h2 {
        margin-bottom: 0px;
    }

    .contact__form__section textarea {
        min-height: 50px;
        height: 100px;
        max-height: 150px;
    }

    .contact__form__section input,
    .contact__form__section textarea {
        margin-bottom: 10px;
    }
    .contact__container__submit__botton {
        padding: 5px 0 5px 0 !important;
    }
}

@media screen and (max-width: 400px) {
    td {
        padding: 10px;
    }
    .header__logo {
        height: 60px;
        width: auto;
    }

    .contact__from__section {
        max-width: 200px;
        padding: 5px;
    }

    .contact__form__section h2 {
        margin-bottom: -20px;
    }

    .contact__form__section textarea {
        min-height: 40px;
        height: 70px;
        max-height: 80px;
    }

    .contact__form__section input,
    .contact__form__section textarea {
        margin-bottom: 5px;
    }

    .contact__container__submit__botton {
        padding: 2px 0 2px 0 !important;
    }
}